ENVIRONMENT = 'dev' # dev, staging, prod
PORT = 5050 # 5050, 5051, 5052

LANGUAGE = 'en'

MONGODB_URL = 'mongodb://localhost:27017/'
MONGODB_DB_NAME = 'practice1'

JWT_SECRET = 'ThiIsJWTSecret'
JWT_EXPIRE_IN = '1d'

PASSWORD_ENCRYPTION_LEVEL = 12
